body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.car-container{
    display: flex;
    justify-content: center;
}

.car-container div{
    margin-top: 50px;
}