.App {
  text-align: center;
  font-weight: bold;
  font-size: 250%;
}

ul{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

ul li{
  text-decoration: none;
  color: aquamarine;
  text-align: left;
}